body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color: #f8f9fa;
  color: #333;
}

/* Верхнє меню */
#menu {
  margin-bottom: 20px;
}

#menu button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#menu button:hover {
  background: #0056b3;
}

/* Секції */
section {
  display: none;
  padding: 20px;
  background: white;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Галерея */
#gallery img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#gallery button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: background 0.3s;
}

#gallery button:hover {
  background-color: #e9ecef;
}

/* Арифметика */
#quiz input {
  padding: 8px;
  font-size: 16px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

#quiz button {
  padding: 8px 16px;
  font-size: 16px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background 0.3s;
}

#quiz button:hover {
  background-color: #e9ecef;
}

#task {
  font-size: 22px;
  margin-bottom: 10px;
}

#result {
  margin-top: 10px;
  font-weight: bold;
}

#score {
  margin-top: 15px;
  color: #007bff;
}
