body {
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

textarea {
  width: 90%;
  height: 100px;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.keyboard {
  display: inline-block;
  margin: 10px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  flex-wrap: wrap;
}

.key {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin: 3px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s, transform 0.1s;
}

.key:hover {
  background: #d0d0d0;
}

.key.active {
  background: #b3e6ff;
  transform: scale(0.95);
}

.clear-btn {
  background: #569772;
  color: white;
  font-weight: bold;
}

.clear-btn:hover {
  background: #569772;
}

.switch-btn {
  background: #4da6ff;
  color: white;
  font-weight: bold;
}

.switch-btn:hover {
  background: #0066cc;
}
