body {
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #657077;
    margin: 40px;
}

#tabbed_box_1 {
    margin: 0 auto;
    width: 300px;
}

.tabbed_box h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #ffffff;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.tabbed_box h4 small {
    color: #e3e9ec;
    font-weight: normal;
    font-size: 9px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -4px;
    left: 6px;
}

.tabbed_area {
    border: 1px solid #494e52;
    background-color: #636d76;
    padding: 8px;
}

ul.tabs {
    margin: 0;
    padding: 0;
}

ul.tabs li {
    list-style: none;
    display: inline;
}

ul.tabs li a {
    background-color: #464c54;
    color: #ffebb5;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 9px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #464c54;
}

ul.tabs li a:hover {
    background-color: #2f343a;
    border-color: #2f343a;
}

ul.tabs li a.active {
    background-color: #ffffff;
    color: #282e32;
    border: 1px solid #464c54;
    border-bottom: 1px solid #ffffff;
}

.content {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #464c54;
    margin-top: -1px;
}
