body {
    background: #111;
    overflow: hidden;
    user-select: none;
    margin: 0;
    height: 100vh;
}

#logo {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(45deg, #007bff, #00d4ff);
    box-shadow: 0 0 20px #00d4ff;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 250px;
    left: 100px;
    font-size: 26px;
    color: white;
    letter-spacing: 2px;
    opacity: 0;
}

.star {
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
}
